body {
  background: Black;
  color: BlanchedAlmond ;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro','Calibri';
  font-weight: 100;
  font-size: 2rem;
}

h1, h5 {
	font-weight: 100;
}
.galva {
	color: BlanchedAlmond;
	margin-left: 320px;
}

.pvz {
	color: Tomato;
	font-family: 'Lucida Console';
	font-size: 1 rem;
	width: 90vw;
}

a {
	text-decoration: none;
	cursor: pointer;
}


section {
  background: Maroon;
  padding: 3rem;
  padding-top: 6rem;
  position: relative;
  height: 100vh;
  width: 90vw;
}

.hamburger {
  position: absolute;
  margin: 50px;
  z-index: 2;
  cursor: pointer;
}

.line {
  width: 50px;
  height: 6px;
  background: #991a1a;
  margin-bottom: 5px;
}

.menu {
  width: 320px;
  height: 100%;
  background: Maroon;
  position: absolute;
  top: 0;
  left: -320px;
  transition: left .5s;
  z-index:1000;
   color=BlanchedAlmond;
}

.menu-item:first-child {
  margin-top: 180px;
}

.menu--open {
  left: 0;
}

.menu-item {
  color: BlanchedAlmond;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
  color=BlanchedAlmond;
}

.menu-item:hover {
	background: BlanchedAlmond;
	cursor: pointer;
	color:Maroon;
}

.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position: relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Source Sans Pro','Calibri';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
	font-size:60px;
  font-weight:100;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	color:BlanchedAlmond;
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
	font-size:30px;
  font-weight:100;
  margin:10px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
	color:BlanchedAlmond;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
  background-color:Maroon; 
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.tile:
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

.tab-wrap {
    width: 100%;
    margin-left: 0%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -106px;
}





input[type="radio"][name="tabs"] {
    position: absolute;
    z-index: -1;
}

input[type="radio"][name="tabs"]:checked + .tab-label-content label {
    color: Tomato;
}

input[type="radio"][name="tabs"]:checked + .tab-label-content .tab-content {
    display: block;
}

input[type="radio"][name="tabs"]:nth-of-type(1):checked ~ .slide {
    left: calc((100% / 4) * 0);
}

input[type="radio"][name="tabs"]:nth-of-type(2):checked ~ .slide {
    left: calc((100% / 4) * 1);
}

input[type="radio"][name="tabs"]:nth-of-type(3):checked ~ .slide {
    left: calc((100% / 4) * 2);
}

input[type="radio"][name="tabs"]:nth-of-type(4):checked ~ .slide {
    left: calc((100% / 4) * 3);
}

input[type="radio"][name="tabs"]:first-of-type:checked ~ .slide {
    left: 0;
}

label {
    cursor: pointer;
    color: Maroon;
    background-color: BlanchedAlmond;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 56px;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    width: 100%;
}

.slide {
    background: Tomato;
    width: calc(100% / 4);
    height: 4px;
    position: absolute;
    left: 0;
    top: calc(100% - 4px);
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
}

.tab-label-content {
    width: inherit;
}

.tab-label-content .tab-content {
    position: absolute;
	width: 100%;
    top: 100px;
    left: 16px;
    line-height: 130%;
    display: none;
}

@media screen and (max-width: 800px) {
    h1 {
        padding: 40px 0 90px 10%;
    }
    .tab-wrap {
        width: 80%;
        margin-left: 10%;
        top: -106px;
    }
}

.follow {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: #03A9F4;
    display: block;
    margin: 300px auto 0;
    white-space: nowrap;
    padding: 13px;
    box-sizing: border-box;
    color: BlanchedAlmond;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.follow i {
    margin-right: 20px;
    -webkit-transition: margin-right 0.2s ease;
    transition: margin-right 0.2s ease;
}

.follow:hover {
    width: 134px;
}

.follow:hover i {
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    .follow {
        margin: 400px auto 0;
    }
}


button {
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px BlanchedAlmond;
  color: BlanchedAlmond;
  font-size: 1rem;
  font-weight: 200;
  margin: 1em;
  padding: 1em 1em;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  float: right;
  vertical-align: middle;
  width: 20px;
}

button::before,
button::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.spin {
  width: 5em;
  height: 5em;
  padding: 0;
}
.spin:hover {
  color: Maroons;
}
.spin::before,
.spin::after {
  top: 0;
  left: 0;
}
.spin::before {
  border: 2px solid transparent;
}
.spin:hover::before {
  border-top-color: Tomato;
  border-right-color:  Tomato;
  border-bottom-color:  Tomato;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}
.spin::after {
  border: 0 solid transparent;
}
.spin:hover::after {
  border-top: 2px solid Maroon;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}

.thick {
  color: BlanchedAlmond;
}
.thick:hover {
  color: BlanchedAlmond;
  font-weight: 200;
}
.thick::before {
  border: 2.5em solid transparent;
  z-index: -1;
}
.thick::after {
  mix-blend-mode: color-dodge;
  z-index: -1;
}
.thick:hover::before {
  background: Maroon;
  border-top-color: Maroon;
  border-right-color: Maroon;
  border-bottom-color: Maroon;
  transition: background 0s linear 0.4s, border-top-color 0.15s linear, border-right-color 0.15s linear 0.15s, border-bottom-color 0.15s linear 0.25s;
}
.thick:hover::after {
  border-top: 2.5em solid Maroon;
  border-left-width: 2.5em;
  border-right-width: 2.5em;
}
