body {
  background: #967a6a;
  color: #b7402c;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro','Calibri';
  font-weight: 100;
  font-size: 2rem;
}

h1, h5 {
	font-weight: 100;
}

a {
	text-decoration: none;
	cursor: pointer;
	color:#E4E4E6;
}


section {
  background: #E4E4E6;
  padding: 6rem 3rem;
  margin: 0;
  position: static;
}

.hamburger {
  position: absolute;
  margin: 50px;
  z-index: 2;
  cursor: pointer;
}

.line {
  width: 50px;
  height: 6px;
  background: #991a1a;
  margin-bottom: 5px;
}

.menu {
  width: 320px;
  height: 100%;
  background: #991a1a;
  position: absolute;
  top: 0;
  left: -320px;
  transition: left .5s;
  z-index:1000;
   color="#E4E4E6";
}

.menu-item:first-child {
  margin-top: 180px;
}

.menu--open {
  left: 0;
}

.menu-item {
  color: #fff;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}

.menu-item:hover {
	background: #E4E4E6;
	cursor: pointer;
	color:#b7402c;
}

.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position: relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Source Sans Pro','Calibri';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
	font-size:60px;
  font-weight:100;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	color:#E4E4E6;
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
	font-size:30px;
  font-weight:100;
  margin:10px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
	color:#E4E4E6;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
  background-color:#991a1a; 
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.tile:
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}